<% content_for :title, "Editar paciente" %>

<h1>Editar paciente</h1>


<div class="opcion-edit">
    <%= link_to "â® Volver", pacientes_path , class: "link-new"%>
  <%= link_to "Ver paciente", @paciente , class: "link-new right"%> 
</div>

<div class="container-content">
<%= render "form", paciente: @paciente %>
</div>